{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    {{ with .Content}}
        <section class="cf f4 tc-l center measure-wide lh-copy mid-gray">
        {{- . -}}
        </section>
    {{ end}}
    <div>
        <h1 class="ph5" id="Science">Science Team</h1>
        <h3 class="ph5">All the people involved in the deployment (2021) and recovery (2022)</h3>
        <section class="flex-ns flex-wrap justify-around">
          {{ range .Pages.ByWeight }}
            {{ if eq .Params.role "science"}}
                <div class="relative mv2 bg-white" style="width:32%">
                {{- partial "summary_people.html" . -}}
                </div>
            {{ end }}
          {{ end }}
        </section>
        <h1 class="ph5" id="Ship">Ship Crew</h1>
        <section class="flex-ns flex-wrap justify-around">
          {{ range .Pages.ByWeight }}
            {{ if eq .Params.role "crew"}}
                <div class="relative mv2 bg-white" style="width:32%">
                {{- partial "summary_people.html" . -}}
                </div>
            {{ end }}
          {{ end }}
        </section>
        <h1 class="ph5" id="Support">Support</h1>
        <section class="flex-ns flex-wrap justify-around">
          {{ range .Pages.ByWeight }}
            {{ if eq .Params.role "other"}}
                <div class="relative mv2 bg-white" style="width:32%">
                {{- partial "summary_people.html" . -}}
                </div>
            {{ end }}
          {{ end }}
        </section>
    </div>
  </article>
{{ end }}
