{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    {{ with .Content}}
        <section class="cf f4 tc-l center measure-wide lh-copy mid-gray">
        {{- . -}}
        </section>
    {{ end}}
    <div>
        <h1 class="ph5">Principal Investigators</h1>
        <section class="flex-ns flex-wrap justify-around">
          {{ range .Pages.ByWeight }}
            {{ if eq .Params.role "PI"}}
                <div class="relative mv2 bg-white" style="width:45%">
                {{- partial "summary_people.html" . -}}
                </div>
            {{ end }}
          {{ end }}
        </section>
    </div>
    <div>
        <h1 class="ph5">Researchers</h1>
        <section class="flex-ns flex-wrap justify-around">
          {{ range .Pages.ByWeight }}
            {{ if eq .Params.role "researcher"}}
                <div class="relative mv2 bg-white" style="width:45%">
                {{- partial "summary_people.html" . -}}
                </div>
            {{ end }}
          {{ end }}
        </section>
    </div>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
