<div id="sponsors" class="tc-l pv0 ph3 ph4-ns">
    <h1 class="f1 fw2 mid-gray mb0 lh-title mt0">SPONSORS</h1>
    <div id="logos" class="pv4">
        <img src="/sponsors/erc.png" width="90">
        <img src="/sponsors/ucl.png" width="150">
        <img src="/sponsors/ipma.png" width="150">
        <img src="/sponsors/idl.png" width="90">
        <img src="/sponsors/isel.png" width="125">
        <img src="/sponsors/gfz.png" width="100">
        <img src="/sponsors/dias.png" width="125">
        <img src="/sponsors/potsdam.png" width="90">
        <img src="/sponsors/geomar.png" width="175">
        <img src="/sponsors/awi.png" width="125">
        <img src="/sponsors/parissud.png" width="90">
        <img src="/sponsors/cnrs.png" width="90">
        <img src="/sponsors/csic.png" width="150">
        <img src="/sponsors/ign.png" width="150">
        <img src="/sponsors/roa.png" width="90">
    </div>   

</div>