<div id="sponsors" class="tc-l pv0 ph3 ph4-ns">
    <hr style="height:4px;border-width:0;background-color:LightGrey">
    <h1 class="f1 fw2 mid-gray mb0 lh-title mt0">SPONSORS</h1>
    <div id="logos" class="flex flex-wrap justify-center pt2 pb4 items-center">
        <img class="pa3" src="/sponsors/erc.png" width="90">
        <img class="pa3" src="/sponsors/ucl.png" width="150">
        <img class="pa3" src="/sponsors/ipma.png" width="150">
        <img class="pa3" src="/sponsors/idl.png" width="90">
        <img class="pa3" src="/sponsors/isel.png" width="125">
        <img class="pa3" src="/sponsors/gfz.png" width="100">
        <img class="pa3" src="/sponsors/dias.png" width="125">
        <img class="pa3" src="/sponsors/potsdam.png" width="90">
        <img class="pa3" src="/sponsors/geomar.png" width="175">
        <img class="pa3" src="/sponsors/awi.png" width="125">
        <img class="pa3" src="/sponsors/parissud.png" width="90">
        <img class="pa3" src="/sponsors/cnrs.png" width="90">
        <img class="pa3" src="/sponsors/csic.png" width="150">
        <img class="pa3" src="/sponsors/ign.png" width="150">
        <img class="pa3" src="/sponsors/roa.png" width="90">
        <img class="pa3" src="/sponsors/geobus.png" width="120">
    </div>   
</div>