<div class="relative w-100 mb4 bg-white nested-copy-line-height">
  <div class="bg-white mb3 pa4 gray overflow-hidden">
      {{ with .Date }}
        <span class="f6 db">{{ .Format "2 January 2006" }}</span>
      {{ end }}
    <h1 class="f3 near-black mb1">
      <a href="{{ .Permalink }}" class="link black dim">
        {{ .Title }}
      </a>
    </h1>
    {{ if isset .Params "author" }}
        {{ $authors := .Params.author }}
        {{ $len := (len $authors) }}
        {{ if not (eq $len 0)}}
            <h6 class="mt0">By 
                {{ range $index, $author := $authors }} 
                    {{ if eq (add $index 1) $len }}
                        {{ if eq $len 1 }}
                            {{ $author }}
                        {{ else }}
                            & {{ $author }}
                        {{ end }}
                    {{ else }}
                        {{ $author }}
                        {{ if not (eq (add $index 2) $len) }}
                            , 
                        {{ end }}
                    {{ end }}
                {{ end }}
            </h6>
        {{ end }}
    {{ end }}
    
    <div class="nested-links f5 lh-copy nested-copy-line-height">
      {{ .Summary  }}
    </div>
  </div>
</div>
