{{ define "main" }}
    <article class="cf f4 tc-l center measure-wide lh-copy mid-gray">
        {{ .Content }}
    </article>
    <div class="cf f4 tc-l center lh-copy mid-gray" style="max-width: 90%;">
        <div class="flex flex-row flex-wrap">
            <div class="flex flex-column pa4" style="max-width: 50%;">
                <a class="twitter-timeline" data-width="500" data-height="400" data-theme="light" href="https://twitter.com/auggiem23?ref_src=twsrc%5Etfw">Tweets by auggiem23</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
{{ end }}